* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #f2f1f4;
  color: #19171c;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.title {
  font-family: 'Domine', serif;
  padding: 20px 20px 0;
  text-align: center;
}

h1 {
  font-size: 3rem;
  letter-spacing: .2rem;
  line-height: 1.3;
  margin-top: 15px;
}

.title p {
  font-size: .85rem;
  margin-bottom: 10px;
}

.box-container {
  margin: 0 auto;
  overflow: auto;
  padding: 20px;
}

.box-container .box {
  display: table;
  float: left;
  margin-bottom: 10px;
  position: relative;
  transition: .1s linear;
  width: 100%;
}

.box-container .box:hover {
  box-shadow: -1px 2px 10px rgba(0, 0, 0, .4);
  -webkit-transform: translate(0, -5px);
  -moz-transform: translate(0, -5px);
  -o-transform: translate(0, -5px);
  -ms-transform: translate(0, -5px);
  transform: translate(0, -5px);
}

.box-container .box img {
  display: block;
  width: 100%;
}

.box-text {
  position: absolute;
  bottom: 12px;
  left: 8px;
  text-align: left;
  width: 85%;
}

.tagline-large {
  display: none;
}

h2 {
  font-size: 1.2rem;
  line-height: 1.5;
}

.text-padding {
  background-color: #f2f1f4;
  display: inline;
  padding: 5px;
  padding-right: 7px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.box-text p {
  color: #f2f1f4;
  line-height: 1.3;
  padding-bottom: 5px;
}

.category {
  font-size: .9rem;
}

p .tagline {
  color: #777;
  font-size: .7rem;
  line-height: 1.6;
  padding-bottom: 5px;
}

p span.entertainment {
  background-color: hsl(250, 52%, 50%);
}

p span.fashion {
  background-color: hsl(340, 52%, 50%);
}

p span.local {
  background-color: hsl(134, 52%, 45%);
}

p span.update {
  background-color: hsl(215, 52%, 50%);
}

.entertainment i {
  color: hsl(250, 52%, 50%);
}

.fashion i {
  color: hsl(340, 52%, 50%);
}

.local i {
  color: hsl(134, 52%, 45%);
}

.update i {
  color: hsl(215, 52%, 50%);
}

@media (min-width: 600px) {
  .title p {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 4.2rem;
    line-height: 1.3;
    margin-top: 30px;
  }

  .title p {
    margin-bottom: 25px;
  }

  .box-container .box {
    margin: 10px;
    width: calc(50% - 20px);
  }

  h2 {
    font-size: 1.2rem;
    line-height: 1.4;
  }

  .box-text {
    bottom: 12px;
    display: block;
    left: 8px;
  }

  .tagline-mobile {
    display: none;
  }

  .tagline-large {
    display: block;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 4.2rem;
  }

  .box-container {
    width: 95%;
  }

  .box-container .box {
    margin: 20px;
    width: calc(33.33% - 40px);
  }

  .box-text {
    width: 90%;
  }

  h2 {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .title p {
    font-size: 1.2rem;
  }

  .box-container {
    width: 80%;
  }

  .box-text {
    width: 80%;
  }

  h2 {
    font-size: 1.2rem;
  }
}

@media (min-width: 1450px) {
  h1 {
    font-size: 5.6rem;
  }

  .title p {
    font-size: 1.5rem;
  }

  .box-container {
    width: 80%;
  }

  h2 {
    font-size: 1.5rem;
  }
}
